.registrContainer {
  width: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: antiquewhite;
  .registrForm {
    width: 500px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    .cheboxContainer {
      display: flex;
      gap: 5px;
    }
  }
}
