.homeContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  header {
    width: 100%;
    min-height: 500px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-image: linear-gradient(
        rgba(54, 61, 66, 0.5),
        rgba(93, 95, 98, 0.22)
      ),
      url(./../../assets/images/background-home.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    p {
      width: 100%;
      min-height: 20px;
      font-size: 20px;
      color: rgb(255, 255, 255);
      font-family: " normal normal 700 14px/1.4em heebo-light,sans-serif";
    }

    h1 {
      width: 600px;
      min-height: 100px;
      font-size: 60px;
      color: rgb(255, 255, 255);
      font-family: " normal normal 700 14px/1.4em heebo-light,sans-serif";
    }
    .homeBtn {
      width: 100%;
      min-height: 50px;
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
  .homeSection {
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    .sectionEat {
      width: 100%;
      min-height: 400px;
      display: flex;
      .sectionEatLeft {
        width: 50%;
        min-height: 500px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 20px;
        gap: 15px;
        .sectionTitle {
          width: 300px;
          font-size: 70px;
          color: black;
          font-family: "normal normal normal 16px/1.8em heebo-light,sans-serif";
        }
        .description {
          width: 350px;
          min-height: 120px;
          color: black;
          font-family: "normal normal normal 16px/1.8em heebo-light,sans-serif";
        }
      }

      .sectionEatRight {
        width: 50%;
        min-height: 500px;
        background-image: url(./../../assets/images/background-eating-section.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    .sectionDrink {
      width: 100%;
      min-height: 400px;
      display: flex;

      .sectionDrinkLeft {
        width: 50%;
        min-height: 500px;
        background-image: url(./../../assets/images/background-drink-section.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .sectionDrinkRight {
        width: 50%;
        min-height: 500px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 20px;
        gap: 15px;
        .sectionTitle {
          width: 300px;
          font-size: 70px;
          color: black;
          font-family: "normal normal normal 16px/1.8em heebo-light,sans-serif";
        }
        .description {
          width: 350px;
          min-height: 120px;
          color: black;
          font-family: "normal normal normal 16px/1.8em heebo-light,sans-serif";
        }
      }
    }
    .sectionEnjoy {
      width: 100%;
      min-height: 400px;
      display: flex;
      .sectionEnjoyleft {
        width: 50%;
        min-height: 500px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 20px;
        gap: 15px;
        .sectionTitle {
          width: 300px;
          font-size: 70px;
          color: black;
          font-family: "normal normal normal 16px/1.8em heebo-light,sans-serif";
        }
        .description {
          width: 350px;
          min-height: 120px;
          color: black;
          font-family: "normal normal normal 16px/1.8em heebo-light,sans-serif";
        }
      }
      .sectionEnjoyRight {
        width: 50%;
        min-height: 500px;
        background-image: url(./../../assets/images/background-enjoy-section.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
}
.sectionInfo {
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;

  .sectionTitleInfo {
    width: 100%;
    text-align: center;
    font-size: 36px;
    font-family: "normal normal normal 16px/1.8em heebo-light,sans-serif";
  }
  .informationSection {
    width: 100%;
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    .addres {
      width: 50%;
      min-height: 250px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-right: 1px solid black;
      gap: 10px;
      .infoTitle {
        width: 100%;
        color: black;
        font-size: 30px;
        text-align: center;
        font-family: "normal normal normal 16px/1.8em heebo-light,sans-serif";
      }
      .info {
        text-align: center;
        color: rgb(0, 0, 0);
        font-family: "normal normal normal 16px/1.8em heebo-light,sans-serif";
      }
    }
    .openingHours {
      width: 50%;
      min-height: 250px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      .infoTitle {
        width: 100%;
        color: black;
        font-size: 30px;
        text-align: center;
        font-family: "normal normal normal 16px/1.8em heebo-light,sans-serif";
      }
      .info {
        text-align: center;
        color: rgb(0, 0, 0);
        font-family: "normal normal normal 16px/1.8em heebo-light,sans-serif";
      }
    }
  }
  .backgroundsLine {
    width: 100%;
    min-height: 400px;
    display: flex;

    .backgroundsLineOne,
    .backgroundsLineTwo,
    .backgroundsLineThree,
    .backgroundsLineFour,
    .backgroundsLineFive {
      width: 300px;
      min-height: 400px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .backgroundsLineOne {
      background-image: url(./../../assets/images/background-section-img-one.webp);
    }

    .backgroundsLineTwo {
      background-image: url(./../../assets/images/background-section-img-two.webp);
    }

    .backgroundsLineThree {
      background-image: url(./../../assets/images/background-section-img-three.webp);
    }

    .backgroundsLineFour {
      background-image: url(./../../assets/images/background-section-img-four.webp);
    }

    .backgroundsLineFive {
      background-image: url(./../../assets/images/background-section-img-five.webp);
    }
  }
}

@media screen and (max-width: 628px) {
  .homeContainer {
    header {
      justify-content: center;
      align-items: center;
      h1 {
        width: 300px;
        font-size: 40px;
      }
    }

    .sectionEat,
    .sectionDrink,
    .sectionEnjoy {
      flex-direction: column;
      justify-content: center;
      width: 100%;
      min-height: 250px !important;
      .homeSection .sectionEatLeft,
      .sectionDrinkRight,
      .sectionEnjoyLeft {
        width: 100%;
        flex-direction: column;
        justify-content: center;
      }
      .sectionEatRight,
      .sectionDrinkLeft,
      .sectionEnjoyRight {
        width: 100% !important;
      }
    }
    .sectionDrink {
      flex-direction: column-reverse;
    }
  }

 
}
