.primary {
  padding: 12px 50px;
    background-color: #ABC0DB;
    color: #000000;
    border:none;
    cursor: pointer;
}

.secondary {
padding: 12px 40px;
  background-color: #270515;
  color: #fff;
  border: 2px;
  text-transform:uppercase;
  cursor: pointer;
 
}
