.product {
    width: 370px;
    min-height: 300px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 120px;
      height: 120px;
    }
    .productAdd {
      width: 100%;
      min-height: 80px;
      display: flex;
      align-items: center;
      justify-content: space-around;
span{
    cursor: pointer;
}
    }
  }