.container{
width: 100%;
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
gap: 20px;
  .filtercontainer {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
    
  
}


