@media screen and (max-width:628px) {
    .about-title {
        font-size: 36px;
    }

    .about-description {
        width: 350px !important;
        min-height: 100px;
        font-size: 20px;
    }
    .about-section  {
        flex-direction: column;
    }
}

.about-us-section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.about-section {
    width: 100%;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: rgb(251, 242, 232);
}

.about-title,
.service-title {
    width: 100%;
    min-height: 70px;
    text-align: center;
    color: black;
    font-family: ' normal normal 700 14px/1.4em heebo-light,sans-serif';
}

.about-description,
.service-description {
    width: 600px;
    min-height: 50px;
    color: black;
    font-family: ' normal normal normal 20px/1.8em heebo-light,sans-serif;'
}

.about-menu,
.about-service {
    width: 100%;
    min-height: 500px;
    display: flex;
}

.about-section-left {
    width: 50%;
    min-height: 500px;
    background-image: url(./../../assets/images/about-section-left-background.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.service-section-right {
    width: 50%;
    min-height: 500px;
    background-image: url(./../../assets/images/service-section-right-background.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-section-right,
.service-section-left {
    width: 50%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 20px;
    padding: 0 20px;
}

.post {
    width: 100%;
    min-height: 70px;
    background-color: rgb(64, 77, 60);
    display: flex;
    justify-content: center;
    align-items: center;

}

h3 {
    font-size: 40px;
    color: white;
    font-weight: 100;
}