
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
 *{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: "Montserrat",sans-serif;
}
:root{
 --primaryColor:hsl(233,52%,19%) ;
 --secColor:hsl(233,16%,44%) ;
 --hoverColor:hsl(8,100%,70%) ;
 --blackColor:#707070 ;
 --greyText:hsl(0,0%,75%) ;
 --bgColor:hsl(0,0%,100%) ;
 --shadowColor:hsl(0,0%,0%,0.314) ;
 --boxShadow:hsl(0,0%,0%,0.1) 0px 10px 15px -3px;
 --gradient:linear-gradient(to bottom ,hsl(16,100%,71%),hsl(8,100%,70%));
  /* rgba (0 ,0, 0, 0.05) 0px 4px 6px -2px; */

--biggestFontSize:2.4rem;
--h1FontSize:2.2rem;
--h2FontSize:1.25rem;
--h3FontSize:1rem;
--normalFontSize:0.938;
--smallFontSize:0.813;
--smallestFontSize:0.75;
}
.Home{
    padding-top:8rem ;
    flex-direction: column;
    gap: 2rem;
    height: avto;
    width: 100vw;
    position: relative;
    overflow: hidden;
    .textDiv{
        .retText{
            color: var(--hoverColor);
            font-weight: 600;
            font-size: 1rem;
            text-transform: uppercase;
        }
        h2{
            position: relative;
            font-size: 2.2rem;
            font-weight: 900;
            color: var(--primaryColor);
           
        }
        p{
        color: var(--secColor);
        font-size: var(--h3FontSize);
        line-height: 25px;
        }
        .buttons {
            gap: 15px;
            display: flex;
            .btn{
                padding: 1.2rem;
                font-size: 15px;
            }
            .playBtn{
              gap: 10px;
               cursor: pointer;
               font-size: 2rem;
               .icon{
                justify-content: center;
                height: 50px;
                width: 50px;
                padding:8px;
                border-radius: 9%;
                background: var(--gradient);
                color: whitesmoke;

               }
            }
        }
    }
    .imagDiv{
        width: 90%;
        margin: auto;
        img{
            scale: 1;
        }
    }

.aeroplane{
    position: absolute;
    width: 5rem;
    top: 5rem;
    right: 50%;
}
}