nav {
    width: 100%;
    min-height: 100px;
    background-color: #F1E3D0;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;


}

nav .logo {
    width: 150px;
    height: 100px;
}

nav .menu-container {
    width: calc(100% - 300px);
    min-height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-family: ' normal normal 700 14px/1.4em heebo-light,sans-serif';
}

.nav-link:hover {
    color: #99AB91;
}

.burger-menu {
    position: relative;
    display: none;
  }
  

.nav-link-logo {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: black;
}

.burger-icon {
    background: none;
    width: 35px;
    height: 100px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
 

}

.menu-bar {
    width: 35px;
    height: 35px;
 
}
  
  .burger-menu-items-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 2; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .burger-menu-items {
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: aliceblue;
  }
  
  .close-icon {
    position: absolute;
    top: 15px;
    right: 30px;
    cursor: pointer;
  }
 

@media screen and (max-width: 628px) {
    nav .menu-container {
        display: none;
    }
   .nav-link{
    font-size: 36px;
    color: #fff;
   }
   .burger-menu{
    display: block;
   }
}