.contactContainer {
  width: 100%;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  .contactContainerInfo {
    width: 100%;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(251, 242, 232);
    justify-content: center;
    gap: 20px;
    .paragraph {
      width: 500px;
      color: black;
      font-size: 30px;
      min-height: 100px;
    }
    .contactContainerTitle {
      width: 100%;
      font-size: 40px;
      text-align: center;
    }
  }
  .contactContainerSection {
    width: 100%;
    min-height: 400px;
    display: flex;
    .sectionLeft {
      width: 50%;
      min-height: 400px;
      display: flex;
      flex-direction: column;
      border-right: 1px solid black;
      justify-content: space-around;
      .formContact {
        width: 370px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
      }
    }
    .sectionRight {
      width: 50%;
      display: flex;
      flex-direction: column;
      .sectionTop {
        width: 100%;
        min-height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 0 20px;
        span{
          width: 250px;
          min-height: 100px;
          font-size: 18px;
        }
      }
      .sectionBottom {
        width: 100%;
        min-height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        span {
          width: 250px;
          min-height: 100px;
          font-size: 24px;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .paragraph {
    font-size: 18px !important;
    width: 100% !important;
  }
  .contactContainer {
    .contactContainerInfo {
        .contactContainerTitle {
          font-size: 30px !important;
        }
      }

      .contactContainerSection {
        .sectionRight {
            display: none !important;
          }
          .sectionLeft {
            width: 100% ;
            justify-content: center;
            align-items: center;
            border:none;
          }
        }
        
      }


  }
  
