h1 {
  color: #fff;
  font-size: 30px;
}

.TodoWrapper {
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: #1a1a40;
  margin-top: 30px;
  padding: 20px;
  border-radius: 5px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-thumb:hover {
  background: #928a8a;
}

.TodoForm {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
}

.todo-input {
  border: 1pm solid #8758ff;
  padding: 10px;
  width: 300px;
  color: #fff;
  background: none;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #8758ff;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.Todo {
  width: 400px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  color: #fff;
  padding: 0 40px;
  border-radius: 5px;
  margin-top: 10px;
}

.todo-icons {
  width: 60px;
  height: 40px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.edit-icon {
  width: 28px;
  height: 26px;
  cursor: pointer;
}

.delete-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
