footer {
  width: 100%;
  min-height: 450px;
  background-color: black;
  display: flex;
  align-items: center;
  .footerContainer {
    width: 100%;
    min-height: 350px;
    display: flex;
    justify-content: space-around;

    .containerLeft {
      width: 46%;
      min-height: 350px;

      display: flex;
      flex-direction: column;
      gap: 10px;

      justify-content: center;
      .titleLogoSection {
        width: 100%;
        min-height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        img {
          width: 200px;
          height: 100px;
        }
        .title {
          width: 100%;
          min-height: 150px;
          color: white;
          font-size: 24px;
          font-weight: 400;
        }
      }
    }
    .containerRight {
      width: 55%;
      min-height: 350px;
      display: flex;
      justify-content: space-around;
   
      ul {
        width: 150px;
        min-height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
        gap: 10px;
        font-size: 22px;
        .navLink {
          text-decoration: none;
          color: white;
        }

        li {
          list-style: none;
          font-size: 18px;
          cursor: pointer;
        }
      }
    }
  }
}
