.accountContainer {
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: antiquewhite;
  h1 {
    width: 100%;
    min-height: 25px;
    text-align: center;

    font-size: 26px;
    color: rgb(101, 92, 92);
  }
  p {
    width: 500px;
    min-height: 50px;
    color: rgb(101, 92, 92);
    text-align: center;
    font-size: 28px;
  }
  .loginRegistr {
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

  }
}
