.registration {
  width: 200px;
  height: 200px;
  background-color: greenyellow;
  display: flex;
  text-decoration: none;
  gap: 20px;
}

.login {
  width: 200px;
  height: 200px;
  display: flex;
  background-color: greenyellow;
  text-decoration: none;
}
