.menuSection {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 30px;
  .menuTitleSection {
    width: 100%;
    min-height: 250px;
    background-color: rgb(251, 242, 232);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .menuTitle{
        text-align: center;
        color: black;
    }
    .menuDescraptionInfo{
        text-align: center;
        color: black;
    }

  }
  .menu{
    width: 100%;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    h4 {
        color: black;
        text-align: center;
        font-weight: 700;
        font-size: 40px;
    }

    .bakery{
        width: 100%;
        min-height: 250px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .menuItem{
            width: 370px;
            min-height: 200px;
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
        .menuTitle, .menuDescription{
            text-align: center;
            color: black;
            font-weight: 100;
        }
       
    }
    .breakfast{
        width: 100%;
        min-height: 600px;
        display: flex;
        margin-top: 20px;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        .menuItemBreak{
            width: 370px;
            min-height: 200px;
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
        .title, .description{
            text-align: center;
            color: black;
            font-weight: 100;
        }
    }
  }
}

@media screen and (max-width: 768px) {
    .menuTitle {
        font-size: 28px;
    }

    .menuDescraptionInfo {
        font-size: 18px;
        min-height: 40px;
        width: 400px;
    }

    h4 {
        font-size: 30px !important;
    }

    .menuItem {
        width: 250px !important;
        

    }

    .menuDescription,
    .title{
        font-size: 20px !important;
    }
    .breakfast{
        justify-content: center;
        gap: 5px;
    }
    .bakery{
        flex-direction: column;
        gap: 5px;
    }
    p{
        text-align: center;
    }
}
