@media screen and (max-width: 768px) {
    .menu-title {
        font-size: 28px;
    }

    .menu-descraption-info {
        font-size: 18px;
        min-height: 40px;
        width: 400px;
    }

    h4 {
        font-size: 30px !important;
    }

    .menu-item {
        width: 250px !important;
        

    }

    .menu-description,
    .title{
        font-size: 20px !important;
    }
    .breakfast{
        justify-content: center;
        gap: 5px;
    }
    .bakery{
        flex-direction: column;
        gap: 5px;
    }
    p{
        text-align: center;
    }
}

.menu-section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
}

.menu-title-section {
    width: 100%;
    min-height: 250px;
    background-color: rgb(251, 242, 232);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-title {
    text-align: center;
    color: black;
}

.menu-descraption-info {

    text-align: center;
    color: black;
}

.menu-description,
.title {
    text-align: center;
    color: black;
    font-weight: 100;
}

.menu {
    width: 100%;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h4 {
    color: black;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
}

.bakery {
    width: 100%;
    min-height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.menu-item {
    width: 370px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.breakfast {
    width: 100%;
    min-height: 600px;
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;




}

.menu-item-break {
    width: 370px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}