.productContainer{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;

    .productItem{
        width: 300px;
        min-height:300px;
        border-radius: 10px;
        border: 1px solid black;

        img{
            width: 100px;
            height: 100px;

        }
    }
}